Package: qboros-electric-qbo-launchers
Version: 1.0-openqbo0
Section: OpenQbo
Maintainer: Miguel Angel Julian <miguel.a.j82@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_pack:qbo_launchers
Priority: optional
Architecture: all
Description: Startup script for the QBO brain
 This package installs the startup script for the QBO brain



