<launch>
  <master auto="start" />

  <include file="$(find qbo_launchers)/launch/ardubase.launch" />
  <include file="$(find usb_camera)/launch/usb_cameras.launch" />
	<node pkg="qbo_expressions" name="qbo_expressions" type="qboduino_expressions" output="screen"/>
	<node pkg="qbo_talk" name="qbo_talk" type="festival_node.py" output="screen"/>
	<node pkg="qbo_follow_face" name="qbo_follow_face" type="follow_face_without_movement.py" output="screen"/>
	<node pkg="qbo_follow_face" name="face_detect" type="face_detect" output="screen"/>
  

</launch>
